Webpack (imports/exports)
    Babel
    SCSS
    Eslint
    2 Modes
        -Dev
            Dev Server, Source Maps, Eslint, Not Minified JS & CSS
        -Prod
            Minified Code
Git
    Production
    Development